.row
  = link_to "Home", "index.html",  relative: (not current_page.data.absolute_assets)
  = link_to "Lion Box", "lionbox.html", relative: (not current_page.data.absolute_assets)
  = link_to "Zinknotes", "zinknotes.html", relative: (not current_page.data.absolute_assets)
  = link_to 'Menu text', 'lionbox.html', relative: (not current_page.data.absolute_assets)
