---
title: Lion Box Media
---
.row
  .columns
    %h1 Corporative branding and website

.row
  .columns
    / =image_tag ("lionbox-v4-Top-header-G.jpg") {class => "menu_icon"}
    =image_tag("lionbox-v4-Top-header-G.jpg", class: "window_panel")
