---
title: Welcome to Middleman
---
.row
  .large-12.columns
    %h1 Welcome to Foundation for Sites 6
    %p
    %a{"data-open" => "exampleModal1"} Click me for a modal
    #exampleModal1.reveal{"data-reveal" => ""}
      %h1 Awesome. I Have It.
      %p.lead Your couch. It is mine.
      %p I'm a cool paragraph that lives inside of an even cooler modal. Wins!
      %button.close-button{"aria-label" => "Close reveal", "data-close" => "", :type => "button"}
        %span{"aria-hidden" => "true"} ×
